@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background;
    @apply text-foreground;
  }

  @screen sm {
    html {
      font-size: 1.25em;
    }
  }
  @screen md {
    html {
      font-size: 1.5em;
    }
  }

  @screen lg {
    html {
      font-size: 2em;
    }
  }

  .image-container {
    @apply w-screen fixed -z-1;
    @apply print:hidden;
    height: 100vh;
    max-height: fill-available;
    top: 0;
    left: 0;
    right: 0;
  }

  .fill-viewport {
    @apply print:hidden;
    height: 100vh;
    max-height: fill-available;
  }
  .bg {
    @apply bg-background;
  }
  .content {
    padding: 1px 0;
    max-width: 45rem;
    @apply px-8;
    @apply mx-auto;
  }
  h1 {
    @apply text-2xl;
  }
  h1::before {
    content: '# ';
  }
  h2 {
    @apply text-xl;
  }
  h2::before {
    content: '## ';
  }
  h3 {
    @apply text-lg;
  }
  h3::before {
    content: '### ';
  }
  h1,
  h2,
  h3,
  [role='doc-subtitle'] {
    @apply italic;
    @apply font-extrabold;
    @apply hdpi:font-bold;
    @apply text-yellow;
    @apply leading-relaxed;

    margin-top: 2em;
    margin-bottom: 2em;
  }

  h3 span {
    @apply font-bold;
    @apply hdpi:font-normal;
  }

  [role='doc-subtitle'] {
    @apply font-bold;
    @apply hdpi:font-normal;
    @apply text-foreground;
    @apply ml-5;
    @apply text-lg;
  }

  p,
  ul {
    @apply leading-relaxed;

    margin-top: 2em;
    margin-bottom: 2em;
  }

  ul {
  }

  li::before {
    content: '*'; /* Insert content that looks like bullets */
    padding-right: 0.625em;

    @apply text-comment;
    @apply italic;
  }

  h1::before,
  h2::before,
  h3::before {
    @apply text-comment;
    @apply italic;
  }

  em {
    @apply text-green;
  }

  a {
    @apply underline;
    @apply focus:text-red;
    @apply hover:text-red;
    @apply transition-all duration-300;
    text-decoration-color: #d54e53;
    text-decoration-thickness: 0.0625em;
    text-underline-offset: 0.125em;
  }
  a:hover,
  a:focus {
    text-decoration-color: transparent;
  }
  dl {
    @apply leading-relaxed;
    @apply mb-10;
  }
  dt {
    @apply mt-10;
    @apply text-orange;
  }
  dd {
    @apply ml-10 mt-5;
  }
  .date {
    @apply text-orange;
  }

  @media print {
    html {
      font-size: 1em;
    }
    h2 {
      page-break-before: always;
    }
    h3 {
      page-break-after: avoid;
    }
    [role='doc-subtitle'] {
      page-break-before: avoid;
    }
    p {
      page-break-inside: avoid;
    }
    * {
      color: black !important;
      font-weight: 400 !important;
      background-color: transparent !important;
    }
  }

  .full-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
