@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-background;
    @apply text-foreground;
  }

  @screen sm {
    html {
      font-size: 1.25em;
    }
  }
  @screen md {
    html {
      font-size: 1.5em;
    }
  }

  @screen lg {
    html {
      font-size: 2em;
    }
  }

  .image-container {
    @apply w-screen fixed -z-1;
    height: 100vh;
    max-height: stretch;
    top: 0;
    left: 0;
    right: 0;
  }

  main {
    @apply bg-background;
  }

  .fill-viewport {
    height: 100vh;
    max-height: stretch;
  }
  .content {
    padding: 1px 0;
    max-width: 45rem;
    @apply px-8;
    @apply mx-auto;
  }
  h1 {
    @apply text-2xl;
  }
  h1::before {
    content: '# ';
  }
  h2 {
    @apply text-xl;
  }
  h2::before {
    content: '## ';
  }
  h3 {
    @apply text-lg;
  }
  h3::before {
    content: '### ';
  }
  h1,
  h2,
  h3 {
    @apply italic;
    @apply font-bold;
    @apply text-yellow;
    @apply leading-relaxed;

    margin-top: 2em;
    margin-bottom: 2em;
  }

  p,
  ul {
    @apply leading-relaxed;

    margin-top: 2em;
    margin-bottom: 2em;
  }

  ul {
  }

  li::before {
    content: '*'; /* Insert content that looks like bullets */
    padding-right: 0.625em;

    @apply text-blue;
    @apply italic;
  }

  h1::before,
  h2::before,
  h3::before {
    @apply text-comment;
    @apply italic;
  }

  em {
    @apply text-green;
  }

  a {
    @apply underline;
    @apply focus:text-aqua;
    @apply hover:text-aqua;
    @apply transition-all duration-300;
    text-decoration-color: #70c0b1;
    text-decoration-thickness: 0.0625em;
    text-underline-offset: 0.125em;
  }
  a:hover,
  a:focus {
    text-decoration-color: transparent;
  }
  dl {
    @apply leading-relaxed;
  }
  dt {
    @apply mt-10;
    @apply text-orange;
  }
  dd {
    @apply mb-10 ml-10 mt-5;
  }
  .date {
    @apply text-orange;
  }
}
